dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/
.vscode/
learn/*
*.DS_Store
*.idea/
*.iml
*.DS_Store 
p2p/test/config*
p2p/test/*.log  
